*.res
*.trc
*.exe
*.lps
backup/
build/
lib/
/SimbaScript
/ssleay32.dll
/libeay32.dll
/libcrypto.so
/libssl.so
/libssl.dylib
/libcrypto.dylib
/Includes/
/Plugins/
/Scripts/
/Data/
/Fonts/
ppas.bat
Simba-*
.DS_Store
/Projects/SimbaResources/MakeSimbaResources
